In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

sum_of_numbers = num1 + num2

print(f"The sum of {num1} and {num2} is: {sum_of_numbers}")

Enter the first number: 21
Enter the second number: 34
The sum of 21.0 and 34.0 is: 55.0

In [ ]:
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))

area = length * width
perimeter = 2 * (length + width)

print(f"The area of the rectangle is: {area}")
print(f"The perimeter of the rectangle is: {perimeter}")

Enter the length of the rectangle: 32
Enter the width of the rectangle: 21
The area of the rectangle is: 672.0
The perimeter of the rectangle is: 106.0

In [ ]:
# Integer
num_int = 10
print(f"Type of {num_int}: {type(num_int)}")

# Float
num_float = 10.5
print(f"Type of {num_float}: {type(num_float)}")

# String
text_string = "Hello, Colab!"
print(f"Type of '{text_string}': {type(text_string)}")

# Boolean
is_true = True
print(f"Type of {is_true}: {type(is_true)}")

# List
my_list = [1, 2, 3]
print(f"Type of {my_list}: {type(my_list)}")

# Tuple
my_tuple = (4, 5, 6)
print(f"Type of {my_tuple}: {type(my_tuple)}")

# Dictionary
my_dict = {'a': 1, 'b': 2}
print(f"Type of {my_dict}: {type(my_dict)}")

# Set
my_set = {7, 8, 9}
print(f"Type of {my_set}: {type(my_set)}")

Type of 10: <class 'int'>
Type of 10.5: <class 'float'>
Type of 'Hello, Colab!': <class 'str'>
Type of True: <class 'bool'>
Type of [1, 2, 3]: <class 'list'>
Type of (4, 5, 6): <class 'tuple'>
Type of {'a': 1, 'b': 2}: <class 'dict'>
Type of {8, 9, 7}: <class 'set'>

In [ ]:
side = float(input("Enter the side length of the cube: "))

surface_area = 6 * (side ** 2)
volume = side ** 3

print(f"The surface area of the cube is: {surface_area}")
print(f"The volume of the cube is: {volume}")

Enter the side length of the cube: 43
The surface area of the cube is: 11094.0
The volume of the cube is: 79507.0

In [ ]:
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote yet.")

Enter your age: 21
You are eligible to vote.

In [ ]:
number = int(input("Enter an integer: "))

if number % 2 == 0:
    print(f"The number {number} is even.")
else:
    print(f"The number {number} is odd.")

Enter an integer: 23
The number 23 is odd.

In [ ]:
number = int(input("Enter an integer: "))

if number % 5 == 0:
    print(f"The number {number} is divisible by 5.")
else:
    print(f"The number {number} is not divisible by 5.")

Enter an integer: 34
The number 34 is not divisible by 5.

In [ ]:
number = int(input("Enter an integer: "))

if number % 5 == 0:
    print(f"The number {number} is a multiple of 5.")
else:
    print(f"The number {number} is not a multiple of 5.")

Enter an integer: 125
The number 125 is a multiple of 5.

In [ ]:
number = int(input("Enter an integer: "))

last_digit = number % 10

print(f"The last digit of {number} is: {last_digit}")

Enter an integer: 45
The last digit of 45 is: 5

In [ ]:
number = int(input("Enter an integer: "))

if number % 7 == 0 or number % 10 == 7:
    print(f"The number {number} is a buzz number.")
else:
    print(f"The number {number} is not a buzz number.")

Enter an integer: 34
The number 34 is not a buzz number.

In [ ]:
num = int(input("Enter a number: "))

# Store the original number to compare later
original_num = num

# Calculate the number of digits
num_digits = len(str(num))

# Initialize sum
sum_of_powers = 0

temp_num = num
while temp_num > 0:
    digit = temp_num % 10
    sum_of_powers += digit ** num_digits
    temp_num //= 10

# Check if it's an Armstrong number
if original_num == sum_of_powers:
    print(f"{original_num} is an Armstrong number.")
else:
    print(f"{original_num} is not an Armstrong number.")

Enter a number: 23
23 is not an Armstrong number.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("Even numbers in the list:")
for number in my_list:
    if number % 2 == 0:
        print(number)

Even numbers in the list:
2
4
6
8
10

In [ ]:
start_range = int(input("Enter the starting number of the range: "))
end_range = int(input("Enter the ending number of the range: "))

print(f"Multiples of 10 in the range from {start_range} to {end_range}:")
for number in range(start_range, end_range + 1):
    if number % 10 == 0:
        print(number)

Enter the starting number of the range: 2
Enter the ending number of the range: 4
Multiples of 10 in the range from 2 to 4:

In [ ]:
# Assign 10 to variable length and 20 to variable breadth.
length = 10
breadth = 20
print(f"length: {length}, breadth: {breadth}")

# Assign the average of values of variables length and breadth to a variable sum.
sum_of_avg = (length + breadth) / 2
print(f"sum (average): {sum_of_avg}")

# Assign a list containing strings ‘Paper’, ‘Gel Pen’, and ‘Eraser’ to a variable stationery.
stationery = ['Paper', 'Gel Pen', 'Eraser']
print(f"stationery: {stationery}")

# Assign the strings ‘Mohandas’, ‘Karamchand’, and ‘Gandhi’ to variables first, middle and last.
first = 'Mohandas'
middle = 'Karamchand'
last = 'Gandhi'
print(f"first: {first}, middle: {middle}, last: {last}")

# Assign the concatenated value of string variables first, middle and last to variable fullname.
# Make sure to incorporate blank spaces appropriately between different parts of names.
fullname = f"{first} {middle} {last}"
print(f"fullname: {fullname}")

length: 10, breadth: 20
sum (average): 15.0
stationery: ['Paper', 'Gel Pen', 'Eraser']
first: Mohandas, middle: Karamchand, last: Gandhi
fullname: Mohandas Karamchand Gandhi

In [ ]:
# Number of months in a year
num_months = 12
print(f"Value: {num_months}, Type: {type(num_months)}")

# Resident of Delhi or not
is_delhi_resident = True
print(f"Value: {is_delhi_resident}, Type: {type(is_delhi_resident)}")

# Mobile number
mobile_number = "+91-9876543210"
print(f"Value: '{mobile_number}', Type: {type(mobile_number)}")

# Pocket money
pocket_money = 250.75
print(f"Value: {pocket_money}, Type: {type(pocket_money)}")

# Volume of a sphere
volume_sphere = 310.33
print(f"Value: {volume_sphere}, Type: {type(volume_sphere)}")

# Perimeter of a square
perimeter_square = 45.6
print(f"Value: {perimeter_square}, Type: {type(perimeter_square)}")

# Name of the student
student_name = "Alice Smith"
print(f"Value: '{student_name}', Type: {type(student_name)}")

# Address of the student
student_address = "123, Main Street, Delhi, 110001"
print(f"Value: '{student_address}', Type: {type(student_address)}")

Value: 12, Type: <class 'int'>
Value: True, Type: <class 'bool'>
Value: '+91-9876543210', Type: <class 'str'>
Value: 250.75, Type: <class 'float'>
Value: 310.33, Type: <class 'float'>
Value: 45.6, Type: <class 'float'>
Value: 'Alice Smith', Type: <class 'str'>
Value: '123, Main Street, Delhi, 110001', Type: <class 'str'>

In [ ]:
print("--- Snippet 1 ---")
num1 = 4
num2 = 3
num3 = 2

num1 += num2 + num3
print (num1)

num1 = num1 ** (num2 + num3)
print (num1)

try:
    # This line will cause a NameError because 'c' is not defined
    num1 **= num2 + c
    print(num1)
except NameError as e:
    print(f"Error in 'num1 **= num2 + c': {e}")

--- Snippet 1 ---
9
59049
Error in 'num1 **= num2 + c': name 'c' is not defined

In [ ]:
print("\n--- Snippet 2 ---")
num1 = '5' + '5'
print(num1)

--- Snippet 2 ---
55

In [ ]:
print("\n--- Snippet 3 ---")
print(4.00/(2.0+2.0))

--- Snippet 3 ---
1.0

In [ ]:
print("\n--- Snippet 4 ---")
num1 = 2+9*((3*12)-8)/10
print(num1)

--- Snippet 4 ---
27.2

In [ ]:
print("\n--- Snippet 5 ---")
num1 = float(10)
print (num1)

--- Snippet 5 ---
10.0

In [ ]:
print("\n--- Snippet 6 ---")
try:
    # This line will cause a ValueError because '3.14' cannot be directly converted to an int
    num1 = int('3.14')
    print(num1)
except ValueError as e:
    print(f"Error in 'num1 = int(\'3.14\')': {e}")

--- Snippet 6 ---
Error in 'num1 = int('3.14')': invalid literal for int() with base 10: '3.14'

In [ ]:
n = int(input("Enter the number of times to repeat 'GOOD MORNING': "))

repeated_string = "GOOD MORNING" * n

print(repeated_string)

Enter the number of times to repeat 'GOOD MORNING': 4
GOOD MORNINGGOOD MORNINGGOOD MORNINGGOOD MORNING

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

average = (num1 + num2 + num3) / 3

print(f"The average of {num1}, {num2}, and {num3} is: {average}")

Enter the first number: 22
Enter the second number: 33
Enter the third number: 44
The average of 22.0, 33.0, and 44.0 is: 33.0

In [ ]:
import datetime

name = input("Enter your name: ")
age = int(input("Enter your age: "))

current_year = datetime.datetime.now().year
year_turn_100 = current_year - age + 100

print(f"Hello {name}! You will turn 100 years old in the year {year_turn_100}.")

Enter your name: Sahil
Enter your age: 21
Hello Sahil! You will turn 100 years old in the year 2105.

In [ ]:
print("--- Program Segment 1 ---")
for i in range(20,30,2):
    print(i)

print("\n--- Program Segment 2 ---")
country = 'INDIA'
for i in country:
    print (i)

print("\n--- Program Segment 3 ---")
i = 0
sum = 0
while i < 9:
    if i % 4 == 0:
        sum = sum + i
    i = i + 2
print (sum)

--- Program Segment 1 ---
20
22
24
26
28

--- Program Segment 2 ---
I
N
D
I
A

--- Program Segment 3 ---
12

In [ ]:
my_list = [10, 20, 4, 45, 99, 1]

# Remove duplicates and convert to a list
unique_elements = sorted(list(set(my_list)))

if len(unique_elements) < 2:
    print("The list does not have a second largest element (fewer than two unique elements).")
else:
    second_largest = unique_elements[-2]
    print(f"The original list is: {my_list}")
    print(f"The second largest element is: {second_largest}")


# Example with duplicates and fewer than two unique elements
my_list_2 = [5, 5, 5]
unique_elements_2 = sorted(list(set(my_list_2)))

if len(unique_elements_2) < 2:
    print(f"\nThe list {my_list_2} does not have a second largest element (fewer than two unique elements).")
else:
    second_largest_2 = unique_elements_2[-2]
    print(f"The original list is: {my_list_2}")
    print(f"The second largest element is: {second_largest_2}")


# Example with a larger list
my_list_3 = [78, 12, 34, 56, 78, 90, 12, 100, 10]
unique_elements_3 = sorted(list(set(my_list_3)))

if len(unique_elements_3) < 2:
    print(f"\nThe list {my_list_3} does not have a second largest element (fewer than two unique elements).")
else:
    second_largest_3 = unique_elements_3[-2]
    print(f"\nThe original list is: {my_list_3}")
    print(f"The second largest element is: {second_largest_3}")

The original list is: [10, 20, 4, 45, 99, 1]
The second largest element is: 45

The list [5, 5, 5] does not have a second largest element (fewer than two unique elements).

The original list is: [78, 12, 34, 56, 78, 90, 12, 100, 10]
The second largest element is: 90

In [ ]:
def rotate_array(arr, k):
    n = len(arr)
    if n == 0:  # Handle empty array case
        return []

    # Ensure k is within the bounds of the array length
    # A rotation by n positions brings the array back to its original state
    k = k % n

    # Perform the rotation using slicing
    # The last k elements move to the front, and the remaining elements follow
    rotated_arr = arr[-k:] + arr[:-k]
    return rotated_arr

# Example Usage:
my_array = [1, 2, 3, 4, 5, 6, 7]
k_value = 3

rotated_result = rotate_array(my_array, k_value)
print(f"Original Array: {my_array}")
print(f"Rotated Array by {k_value} positions: {rotated_result}")

# Another example
my_array_2 = ['a', 'b', 'c', 'd']
k_value_2 = 1
rotated_result_2 = rotate_array(my_array_2, k_value_2)
print(f"\nOriginal Array: {my_array_2}")
print(f"Rotated Array by {k_value_2} positions: {rotated_result_2}")

# Example with k > len(arr)
my_array_3 = [10, 20, 30]
k_value_3 = 4
rotated_result_3 = rotate_array(my_array_3, k_value_3)
print(f"\nOriginal Array: {my_array_3}")
print(f"Rotated Array by {k_value_3} positions: {rotated_result_3}")

Original Array: [1, 2, 3, 4, 5, 6, 7]
Rotated Array by 3 positions: [5, 6, 7, 1, 2, 3, 4]

Original Array: ['a', 'b', 'c', 'd']
Rotated Array by 1 positions: ['d', 'a', 'b', 'c']

Original Array: [10, 20, 30]
Rotated Array by 4 positions: [30, 10, 20]

In [ ]:
temperature = float(input("Enter the person's temperature in Fahrenheit: "))

if temperature >= 85.0 and temperature <= 91.0:
    advice = "Serious Hypothermia"
elif temperature > 91.0 and temperature < 95.0:
    advice = "Mild Hypothermia"
elif temperature >= 95.0 and temperature <= 98.0:
    advice = "Normal Temperature"
elif temperature > 98.0 and temperature <= 100.0:
    advice = "Mild Fever"
elif temperature > 100.0 and temperature <= 105.0:
    advice = "High Fever"
else:
    advice = "Temperature out of defined range for advice. Please consult a medical professional."

print(f"Given temperature: {temperature}°F\nAdvice: {advice}")

Enter the person's temperature in Fahrenheit: 97
Given temperature: 97.0°F
Advice: Normal Temperature

In [ ]:
N = int(input("Enter a number: "))

if N > 0:
    # Positive numbers
    if N % 2 == 0:
        print("Number is Positive and Even")
    else:
        print("Number is Positive and Odd")
elif N < 0:
    # Negative numbers
    if N % 2 == 0:
        print("Number is Negative and Even")
    else:
        print("Number is Negative and Odd")
else:
    # Number is zero
    print("Number is Zero (neither positive nor negative, and even)")

Enter a number: 22
Number is Positive and Even

In [ ]:
N = int(input("Enter a positive integer (N): "))

if N <= 0:
    print("Please enter a positive integer.")
else:
    print("Using FOR loop:")
    for i in range(1, N + 1):
        print(i, end=" ")
    print() # For a new line after the numbers

    print("\nUsing WHILE loop:")
    count = 1
    while count <= N:
        print(count, end=" ")
        count += 1
    print() # For a new line after the numbers

Enter a positive integer (N): 22
Using FOR loop:
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22

Using WHILE loop:
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22

In [ ]:
num = int(input("Enter a number: "))

if num == 0:
    print(0)
else:
    # Use absolute value to handle negative numbers consistently for digit extraction
    temp_num = abs(num)
    while temp_num > 0:
        digit = temp_num % 10
        print(digit)
        temp_num //= 10

Enter a number: 22
2
2

In [ ]:
num = int(input("Enter a positive integer: "))

if num <= 0:
    print("Please enter a positive integer.")
else:
    print(f"The factors of {num} are:")
    for i in range(1, num + 1):
        if num % i == 0:
            print(i)

Enter a positive integer: 22
The factors of 22 are:
1
2
11
22

In [ ]:
num = int(input("Enter a positive integer: "))

if num <= 0:
    print("Please enter a positive integer.")
else:
    count_of_factors = 0
    for i in range(1, num + 1):
        if num % i == 0:
            count_of_factors += 1
    print(f"The number of factors for {num} is: {count_of_factors}")

Enter a positive integer: 22
The number of factors for 22 is: 4

In [ ]:
num = int(input("Enter a number: "))

# Prime numbers are greater than 1
if num <= 1:
    print(f"{num} is not a prime number.")
elif num == 2:
    print(f"{num} is a prime number.")
else:
    is_prime = True
    # Check for factors from 2 up to the square root of num
    # We only need to check up to int(num**0.5) + 1 because if a number n has a factor greater than its square root, it must also have a factor smaller than its square root.
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break # No need to check further

    if is_prime:
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")

Enter a number: 21
21 is not a prime number.

In [ ]:
def gcd(a, b):
    # Ensure numbers are positive
    if a <= 0 or b <= 0:
        print("Please enter positive integers for GCD calculation.")
        return None

    while b:
        a, b = b, a % b
    return a

num1 = int(input("Enter the first positive number: "))
num2 = int(input("Enter the second positive number: "))

result = gcd(num1, num2)

if result is not None:
    print(f"The GCD/HCF of {num1} and {num2} is: {result}")

Enter the first positive number: 21
Enter the second positive number: 32
The GCD/HCF of 21 and 32 is: 1

In [ ]:
def gcd(a, b):
    # Helper function to find the Greatest Common Divisor (GCD)
    while b:
        a, b = b, a % b
    return a

def lcm(a, b):
    # Ensure numbers are positive
    if a <= 0 or b <= 0:
        print("Please enter positive integers for LCM calculation.")
        return None

    # LCM(a, b) = |a*b| / GCD(a, b)
    # Since we are dealing with positive numbers, abs() is not strictly needed
    return (a * b) // gcd(a, b)

num1 = int(input("Enter the first positive number: "))
num2 = int(input("Enter the second positive number: "))

result = lcm(num1, num2)

if result is not None:
    print(f"The LCM of {num1} and {num2} is: {result}")

Enter the first positive number: 21
Enter the second positive number: 32
The LCM of 21 and 32 is: 672

In [ ]:
li = [1, 2, 3, 4]
print(f"Original li: {li}")

li2 = li
print(f"li2 = li. Initial li2: {li2}")

# Modifying an element in li2 will also affect li because both refer to the same list object
li2[2] = 1
print(f"After li2[2] = 1, li: {li}")
print(f"After li2[2] = 1, li2: {li2}")

# If you were to reassign li2 entirely, the reference would change:
# li2 = [3,3,4] # Now li2 points to a new list object, li remains unchanged
# print(f"After li2 = [3,3,4], li: {li}") # li would still be [1, 2, 1, 4]
# print(f"After li2 = [3,3,4], li2: {li2}") # li2 would be [3, 3, 4]

Original li: [1, 2, 3, 4]
li2 = li. Initial li2: [1, 2, 3, 4]
After li2[2] = 1, li: [1, 2, 1, 4]
After li2[2] = 1, li2: [1, 2, 1, 4]

In [ ]:
side_length = int(input("Enter the side length of the square: "))

if side_length <= 0:
    print("Please enter a positive integer for the side length.")
else:
    print(f"\nGenerating a square pattern with side length {side_length}:")
    for i in range(side_length):
        for j in range(side_length):
            print("* ", end="")
        print()

Enter the side length of the square: 22

Generating a square pattern with side length 22:
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *

In [ ]:
num_rows = int(input("Enter the number of rows for the right-angled triangle: "))

if num_rows <= 0:
    print("Please enter a positive integer for the number of rows.")
else:
    print(f"\nGenerating a right-angled triangle pattern with {num_rows} rows:")
    for i in range(1, num_rows + 1):
        for j in range(1, i + 1):
            print("* ", end="")
        print()

Enter the number of rows for the right-angled triangle: 2

Generating a right-angled triangle pattern with 2 rows:
*
* *

In [ ]:
num_rows = int(input("Enter the number of rows for the right-aligned triangle: "))

if num_rows <= 0:
    print("Please enter a positive integer for the number of rows.")
else:
    print(f"\nGenerating a right-aligned triangle pattern with {num_rows} rows:")
    for i in range(1, num_rows + 1):
        # Print leading spaces
        for j in range(num_rows - i):
            print("  ", end="") # Two spaces for alignment
        # Print stars
        for k in range(i):
            print("* ", end="")
        print()

Enter the number of rows for the right-aligned triangle: 3

Generating a right-aligned triangle pattern with 3 rows:
    *
  * *
* * *

In [ ]:
num_rows = int(input("Enter the number of rows for the pattern: "))
constant_num = int(input("Enter the constant number to be printed: "))

if num_rows <= 0:
    print("Please enter a positive integer for the number of rows.")
else:
    print(f"\nGenerating a number pattern with {num_rows} rows and constant number {constant_num}:")
    for i in range(1, num_rows + 1):
        for j in range(1, i + 1):
            print(f"{constant_num} ", end="")
        print()

Enter the number of rows for the pattern: 4
Enter the constant number to be printed: 3

Generating a number pattern with 4 rows and constant number 3:
3
3 3
3 3 3
3 3 3 3

In [ ]:
num_rows = int(input("Enter the number of rows for the pattern: "))

if num_rows <= 0:
    print("Please enter a positive integer for the number of rows.")
else:
    print(f"\nGenerating an increasing number pattern with {num_rows} rows:")
    for i in range(1, num_rows + 1):
        for j in range(1, i + 1):
            print(f"{j} ", end="")
        print()

Enter the number of rows for the pattern: 5

Generating an increasing number pattern with 5 rows:
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
num_rows = int(input("Enter the number of rows for the alphabet pattern: "))

if num_rows <= 0:
    print("Please enter a positive integer for the number of rows.")
else:
    print(f"\nGenerating an alphabet pattern with {num_rows} rows:")
    for i in range(num_rows):
        for j in range(i + 1):
            print(chr(65 + j), end=" ")
        print()

Enter the number of rows for the alphabet pattern: 6

Generating an alphabet pattern with 6 rows:
A
A B
A B C
A B C D
A B C D E
A B C D E F

In [ ]:

num_rows = int(input("Enter the number of rows for the repeating alphabet pattern: "))

if num_rows <= 0:
    print("Please enter a positive integer for the number of rows.")
else:
    print(f"\nGenerating a repeating alphabet pattern with {num_rows} rows:")
    for i in range(num_rows):
        # The character to be repeated is based on the current row index 'i'
        char_to_print = chr(65 + i)
        for j in range(i + 1):
            print(char_to_print, end=" ")
        print()

Enter the number of rows for the repeating alphabet pattern: 3

Generating a repeating alphabet pattern with 3 rows:
A
B B
C C C

In [ ]:
num_rows_1 = int(input("Enter the number of rows for the first pattern (e.g., right triangle): "))

if num_rows_1 <= 0:
    print("Please enter a positive integer for the number of rows for the first pattern.")
else:
    print(f"\n--- Generating First Pattern (Right Triangle) with {num_rows_1} rows ---")
    for i in range(1, num_rows_1 + 1):
        for j in range(1, i + 1):
            print("* ", end="")
        print()

side_length_2 = int(input("\nEnter the side length for the second pattern (e.g., square): "))

if side_length_2 <= 0:
    print("Please enter a positive integer for the side length for the second pattern.")
else:
    print(f"\n--- Generating Second Pattern (Square) with side length {side_length_2} ---")
    for i in range(side_length_2):
        for j in range(side_length_2):
            print("* ", end="")
        print()

Enter the number of rows for the first pattern (e.g., right triangle): 5

--- Generating First Pattern (Right Triangle) with 5 rows ---
*
* *
* * *
* * * *
* * * * *

Enter the side length for the second pattern (e.g., square): 21

--- Generating Second Pattern (Square) with side length 21 ---
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *

In [ ]:
num_rows = int(input("Enter the number of rows for the pyramid pattern: "))

if num_rows <= 0:
    print("Please enter a positive integer for the number of rows.")
else:
    print(f"\nGenerating a pyramid pattern with {num_rows} rows:")
    for i in range(num_rows):
        # Print leading spaces
        for j in range(num_rows - i - 1):
            print(" ", end="")
        # Print stars
        for k in range(2 * i + 1):
            print("*", end="")
        print()

Enter the number of rows for the pyramid pattern: 4

Generating a pyramid pattern with 4 rows:
   *
  ***
 *****
*******

In [ ]:
num_rows = int(input("Enter the number of rows for the pyramid pattern: "))

if num_rows <= 0:
    print("Please enter a positive integer for the number of rows.")
else:
    print(f"\nGenerating a pyramid pattern with {num_rows} rows:")
    for i in range(num_rows):
        # Print leading spaces
        for j in range(num_rows - i - 1):
            print(" ", end="")
        # Print stars with a space after each star
        for k in range(2 * i + 1):
            print("* ", end="")
        print()

Enter the number of rows for the pyramid pattern: 5

Generating a pyramid pattern with 5 rows:
    *
   * * *
  * * * * *
 * * * * * * *
* * * * * * * * *

In [ ]:
print("--- Method 1: Line-by-line Input ---")
while True:
    try:
        num_elements = int(input("Enter the number of elements for the first list: "))
        if num_elements <= 0:
            print("Please enter a positive integer.")
        else:
            break
    except ValueError:
        print("Invalid input. Please enter an integer.")

list_line_by_line = []
print(f"Enter {num_elements} elements, one by one:")
for i in range(num_elements):
    while True:
        try:
            element = int(input(f"Element {i+1}: "))
            list_line_by_line.append(element)
            break
        except ValueError:
            print("Invalid input. Please enter an integer.")

print(f"List built element by element: {list_line_by_line}")

print("\n--- Method 2: Space-separated Input ---")
while True:
    space_separated_input = input("Enter elements for the second list, separated by spaces: ")
    if not space_separated_input.strip(): # Check if input is empty or just whitespace
        print("Input cannot be empty. Please enter some elements.")
        continue

    # Split the input string by spaces
    elements_as_strings = space_separated_input.split()

    # Convert elements to integers, handling potential errors
    list_space_separated = []
    conversion_error = False
    for s in elements_as_strings:
        try:
            list_space_separated.append(int(s))
        except ValueError:
            print(f"Invalid input: '{s}' is not a valid integer. Please enter only integers separated by spaces.")
            conversion_error = True
            break

    if not conversion_error:
        break

print(f"List built from space-separated input: {list_space_separated}")

--- Method 1: Line-by-line Input ---
Enter the number of elements for the first list: 4
Enter 4 elements, one by one:
Element 1: 2
Element 2: 1
Element 3: 4
Element 4: 5
List built element by element: [2, 1, 4, 5]

--- Method 2: Space-separated Input ---
Enter elements for the second list, separated by spaces: 5
List built from space-separated input: [5]

In [ ]:
def linear_search(data_list, target_element):
    """
    Performs a linear search to find the target_element in data_list.
    Returns the index of the target_element if found, otherwise returns -1.
    """
    for i in range(len(data_list)):
        if data_list[i] == target_element:
            return i
    return -1

# Create a sample list
my_list = [10, 20, 30, 40, 50]
print(f"Original list: {my_list}")

# Example 1: Target element is present in the list
target1 = 30
index1 = linear_search(my_list, target1)
if index1 != -1:
    print(f"'{target1}' found at index: {index1}")
else:
    print(f"'{target1}' not found in the list.")

# Example 2: Target element is not present in the list
target2 = 60
index2 = linear_search(my_list, target2)
if index2 != -1:
    print(f"'{target2}' found at index: {index2}")
else:
    print(f"'{target2}' not found in the list.")

Original list: [10, 20, 30, 40, 50]
'30' found at index: 2
'60' not found in the list.

In [ ]:
print("--- Demonstrating Variable Swapping ---")

# 1. Define two variables and assign initial integer values
var1 = 10
var2 = 20

# 2. Print the initial values of var1 and var2
print(f"Initial values: var1 = {var1}, var2 = {var2}")

# 3. Demonstrate the first method of swapping using a temporary variable
print("\nMethod 1: Swapping using a temporary variable")
temp = var1  # a. Assign the value of var1 to a temporary variable
var1 = var2  # b. Assign the value of var2 to var1
var2 = temp  # c. Assign the value of temp to var2

# 4. Print the values of var1 and var2 after the first swap
print(f"After first swap: var1 = {var1}, var2 = {var2}")

# 5. Reset var1 and var2 to their original initial values
var1 = 10
var2 = 20

# 6. Print the reset values of var1 and var2
print(f"\nValues reset: var1 = {var1}, var2 = {var2}")

# 7. Demonstrate the second method of swapping using tuple packing and unpacking
print("\nMethod 2: Swapping using tuple packing/unpacking (Pythonic way)")
var1, var2 = var2, var1 # a. Assign var2, var1 to var1, var2

# 8. Print the values of var1 and var2 after the second swap
print(f"After second swap: var1 = {var1}, var2 = {var2}")

--- Demonstrating Variable Swapping ---
Initial values: var1 = 10, var2 = 20

Method 1: Swapping using a temporary variable
After first swap: var1 = 20, var2 = 10

Values reset: var1 = 10, var2 = 20

Method 2: Swapping using tuple packing/unpacking (Pythonic way)
After second swap: var1 = 20, var2 = 10

In [ ]:
print("--- Demonstrating Reversal ---")

# 1. Initialize a sample list and a sample string
my_list = [1, 2, 3, 4, 5]
my_string = "Python"

# 2. Print the original list and string
print(f"Original list: {my_list}")
print(f"Original string: '{my_string}'")

# 3. Demonstrate reversing the list using the reverse() method
# This method modifies the list in-place and does not return a new list.
print("\nMethod 1: Reversing list using list.reverse() (in-place modification)")
my_list.reverse()
print(f"List after reverse() method: {my_list}")
print("Note: The original 'my_list' object has been modified directly.")

# 4. Reset the list to its original state for the next demonstration
my_list = [1, 2, 3, 4, 5]
print(f"\nList reset to original: {my_list}")

# 4. Demonstrate reversing the list using slicing (creates a new list)
print("\nMethod 2: Reversing list using slicing [::-1] (creates a new list)")
reversed_list_slicing = my_list[::-1]
print(f"Original list (unmodified by slicing): {my_list}")
print(f"New reversed list using slicing: {reversed_list_slicing}")
print("Note: Slicing creates a new list, leaving the original list unchanged.")

# 5. Demonstrate reversing the string using slicing (creates a new string)
print("\nMethod 3: Reversing string using slicing [::-1] (creates a new string)")
reversed_string_slicing = my_string[::-1]
print(f"Original string (unmodified by slicing): '{my_string}'")
print(f"New reversed string using slicing: '{reversed_string_slicing}'")
print("Note: Strings are immutable in Python, so slicing always creates a new string.")

--- Demonstrating Reversal ---
Original list: [1, 2, 3, 4, 5]
Original string: 'Python'

Method 1: Reversing list using list.reverse() (in-place modification)
List after reverse() method: [5, 4, 3, 2, 1]
Note: The original 'my_list' object has been modified directly.

List reset to original: [1, 2, 3, 4, 5]

Method 2: Reversing list using slicing [::-1] (creates a new list)
Original list (unmodified by slicing): [1, 2, 3, 4, 5]
New reversed list using slicing: [5, 4, 3, 2, 1]
Note: Slicing creates a new list, leaving the original list unchanged.

Method 3: Reversing string using slicing [::-1] (creates a new string)
Original string (unmodified by slicing): 'Python'
New reversed string using slicing: 'nohtyP'
Note: Strings are immutable in Python, so slicing always creates a new string.

In [ ]:
print("--- Demonstrating Basic Variable Assignment and Type Checking ---")

# 1. Create an integer variable named my_integer and assign it a value.
my_integer = 100

# 2. Create a float variable named my_float and assign it a value.
my_float = 25.5

# 3. Create a string variable named my_string and assign it a value.
my_string = "Hello Python"

# 4. Create a boolean variable named my_boolean and assign it a value.
my_boolean = True

# 5. For each variable, print its value and its data type.
print(f"\nVariable: my_integer")
print(f"Value: {my_integer}")
print(f"Type: {type(my_integer)}")

print(f"\nVariable: my_float")
print(f"Value: {my_float}")
print(f"Type: {type(my_float)}")

print(f"\nVariable: my_string")
print(f"Value: '{my_string}'")
print(f"Type: {type(my_string)}")

print(f"\nVariable: my_boolean")
print(f"Value: {my_boolean}")
print(f"Type: {type(my_boolean)}")

--- Demonstrating Basic Variable Assignment and Type Checking ---

Variable: my_integer
Value: 100
Type: <class 'int'>

Variable: my_float
Value: 25.5
Type: <class 'float'>

Variable: my_string
Value: 'Hello Python'
Type: <class 'str'>

Variable: my_boolean
Value: True
Type: <class 'bool'>

In [ ]:
print("--- Demonstrating Function Definition and Call for Product Calculation ---")

# 1. Define a Python function named calculate_product
def calculate_product(num1, num2):
    # 2. Inside this function, calculate the product of num1 and num2.
    product = num1 * num2
    # 3. Return the calculated product from the function.
    return product

# 4. Call this function with two sample numeric values and store the returned result.
number1 = 5
number2 = 7
result_product = calculate_product(number1, number2)

# 5. Print the result, clearly stating what it represents.
print(f"The product of {number1} and {number2} is: {result_product}")

--- Demonstrating Function Definition and Call for Product Calculation ---
The product of 5 and 7 is: 35

In [ ]:
print("\n--- Demonstrating `else` with `for` loop ---")

# Example for loop with else block (item not found)
my_list = [10, 20, 30, 40, 50]
target_for = 60
found_for = False

print(f"Searching for {target_for} in {my_list}")
for item in my_list:
    if item == target_for:
        print(f"Found {target_for} in the list.")
        found_for = True
        break
else:
    print(f"{target_for} not found in the list (else block of for loop executed).")

# Example for loop with else block (item found)
target_for_found = 30
print(f"\nSearching for {target_for_found} in {my_list}")
for item in my_list:
    if item == target_for_found:
        print(f"Found {target_for_found} in the list.")
        break
else:
    print(f"{target_for_found} not found in the list (else block of for loop executed).")


print("\n--- Demonstrating `else` with `while` loop ---")

# Example while loop with else block (normal completion)
count_while = 0
limit_while = 3

print(f"Counting up to {limit_while} with a while loop:")
while count_while < limit_while:
    print(f"Current count: {count_while}")
    count_while += 1
else:
    print("While loop completed normally (else block of while loop executed).")

# Example while loop with else block (terminated by break)
count_break = 0
break_at = 1

print(f"\nCounting, but breaking at {break_at}:")
while count_break < limit_while:
    print(f"Current count: {count_break}")
    if count_break == break_at:
        print("Breaking out of the loop.")
        break
    count_break += 1
else:
    print("While loop completed normally (else block of while loop executed).")

--- Demonstrating `else` with `for` loop ---
Searching for 60 in [10, 20, 30, 40, 50]
60 not found in the list (else block of for loop executed).

Searching for 30 in [10, 20, 30, 40, 50]
Found 30 in the list.

--- Demonstrating `else` with `while` loop ---
Counting up to 3 with a while loop:
Current count: 0
Current count: 1
Current count: 2
While loop completed normally (else block of while loop executed).

Counting, but breaking at 1:
Current count: 0
Current count: 1
Breaking out of the loop.

In [ ]:
print("--- Demonstrating String Operations and Methods ---")

# 1. Initialize a sample string variable with some text.
my_string = "Python Programming is Fun!"

# 2. Print the original string.
print(f"\nOriginal string: '{my_string}'")

# 3. Demonstrate basic string operations:
# a. Find the length of the string using len().
string_length = len(my_string)
print(f"\nLength of the string: {string_length}")

# b. Convert the string to uppercase using .upper().
uppercase_string = my_string.upper()
print(f"Uppercase string: '{uppercase_string}'")

# c. Convert the string to lowercase using .lower().
lowercase_string = my_string.lower()
print(f"Lowercase string: '{lowercase_string}'")

# d. Capitalize the first letter of the string using .capitalize().
capitalized_string = my_string.capitalize()
print(f"Capitalized string: '{capitalized_string}'")

# e. Replace a substring within the string using .replace().
replaced_string = my_string.replace("Fun", "Awesome")
print(f"String after replacement: '{replaced_string}'")

# f. Check if a substring is present using the 'in' operator.
substring_present = "Python" in my_string
print(f"Is 'Python' present in the string? {substring_present}")

substring_not_present = "Java" in my_string
print(f"Is 'Java' present in the string? {substring_not_present}")

# g. Find the starting index of a substring using .find().
find_index = my_string.find("Programming")
print(f"Starting index of 'Programming': {find_index}")

find_non_existent = my_string.find("hello")
print(f"Starting index of 'hello' (not found): {find_non_existent}")

# h. Split the string into a list of words using .split().
split_string = my_string.split()
print(f"String split into words: {split_string}")

# i. Join a list of strings into a single string using .join().
words_to_join = ["Hello", "World", "from", "Python"]
joined_string = "-".join(words_to_join)
print(f"Joined string with '-': '{joined_string}'")

joined_string_space = " ".join(split_string)
print(f"Re-joined original split string with space: '{joined_string_space}'")

--- Demonstrating String Operations and Methods ---

Original string: 'Python Programming is Fun!'

Length of the string: 26
Uppercase string: 'PYTHON PROGRAMMING IS FUN!'
Lowercase string: 'python programming is fun!'
Capitalized string: 'Python programming is fun!'
String after replacement: 'Python Programming is Awesome!'
Is 'Python' present in the string? True
Is 'Java' present in the string? False
Starting index of 'Programming': 7
Starting index of 'hello' (not found): -1
String split into words: ['Python', 'Programming', 'is', 'Fun!']
Joined string with '-': 'Hello-World-from-Python'
Re-joined original split string with space: 'Python Programming is Fun!'

In [ ]:
print("--- Demonstrating Dictionary Operations and Methods ---")

# 1. Initialize a sample dictionary with a few key-value pairs.
my_dict = {
    'name': 'Alice',
    'age': 30,
    'city': 'New York'
}

# 2. Print the entire dictionary.
print(f"\nOriginal dictionary: {my_dict}")

# 3. Demonstrate accessing a value by its key.
print(f"Name: {my_dict['name']}")
print(f"Age: {my_dict['age']}")

# 4. Demonstrate adding a new key-value pair to the dictionary.
my_dict['occupation'] = 'Engineer'
print(f"\nDictionary after adding 'occupation': {my_dict}")

# 5. Demonstrate modifying the value associated with an existing key.
my_dict['age'] = 31
print(f"Dictionary after modifying 'age': {my_dict}")

# 6. Demonstrate using the .keys() method to get all keys and print them.
keys_list = list(my_dict.keys())
print(f"\nAll keys: {keys_list}")

# 7. Demonstrate using the .values() method to get all values and print them.
values_list = list(my_dict.values())
print(f"All values: {values_list}")

# 8. Demonstrate using the .items() method to get all key-value pairs and print them.
items_list = list(my_dict.items())
print(f"All key-value pairs: {items_list}")

# 9. Demonstrate checking if a key exists in the dictionary using the 'in' operator.
key_exists_name = 'name' in my_dict
key_exists_country = 'country' in my_dict
print(f"\nDoes 'name' exist in the dictionary? {key_exists_name}")
print(f"Does 'country' exist in the dictionary? {key_exists_country}")

--- Demonstrating Dictionary Operations and Methods ---

Original dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}
Name: Alice
Age: 30

Dictionary after adding 'occupation': {'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}
Dictionary after modifying 'age': {'name': 'Alice', 'age': 31, 'city': 'New York', 'occupation': 'Engineer'}

All keys: ['name', 'age', 'city', 'occupation']
All values: ['Alice', 31, 'New York', 'Engineer']
All key-value pairs: [('name', 'Alice'), ('age', 31), ('city', 'New York'), ('occupation', 'Engineer')]

Does 'name' exist in the dictionary? True
Does 'country' exist in the dictionary? False

In [ ]:
print("--- Demonstrating Sorting Operations ---")

# 1. Initialize a sample list of numbers
my_numbers = [5, 2, 8, 1, 9, 3]

# 2. Print the original list to show its unsorted state.
print(f"\nOriginal list: {my_numbers}")

# 3. Demonstrate sorting the list in-place using the .sort() method.
print("\nSorting list in-place using .sort():")
my_numbers.sort()
# Print the list again after this operation.
print(f"List after .sort(): {my_numbers}")
print("Note: The original 'my_numbers' object has been modified directly.")

# 4. Reset the list to its original unsorted state.
my_numbers = [5, 2, 8, 1, 9, 3]
print(f"\nList reset to original: {my_numbers}")

# 5. Demonstrate sorting the list using the sorted() built-in function.
print("\nSorting list using sorted() function (creates a new list):")
new_sorted_list = sorted(my_numbers)
# Print both the original (unmodified) list and the newly created sorted list.
print(f"Original list (unmodified by sorted()): {my_numbers}")
print(f"New sorted list created by sorted(): {new_sorted_list}")
print("Note: The sorted() function returns a new list, leaving the original list unchanged.")

--- Demonstrating Sorting Operations ---

Original list: [5, 2, 8, 1, 9, 3]

Sorting list in-place using .sort():
List after .sort(): [1, 2, 3, 5, 8, 9]
Note: The original 'my_numbers' object has been modified directly.

List reset to original: [5, 2, 8, 1, 9, 3]

Sorting list using sorted() function (creates a new list):
Original list (unmodified by sorted()): [5, 2, 8, 1, 9, 3]
New sorted list created by sorted(): [1, 2, 3, 5, 8, 9]
Note: The sorted() function returns a new list, leaving the original list unchanged.

In [ ]:
print("--- Demonstrating 2-Dimensional Lists ---")

# 1. Initialize a 2-dimensional list (list of lists) with some sample data.
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# 2. Print the entire 2-dimensional list to display its structure.
print(f"\nOriginal 2D List (Matrix): {matrix}")

# 3. Demonstrate how to access a specific element using its row and column indices.
#    Accessing element at row 1, column 2 (0-indexed: matrix[1][2] which is 6)
row_index = 1
col_index = 2
specific_element = matrix[row_index][col_index]
print(f"\nAccessing element at row {row_index}, column {col_index}: {specific_element}")

# 4. Demonstrate how to access an entire row of the 2-dimensional list.
#    Accessing row at index 0 (0-indexed: matrix[0] which is [1, 2, 3])
row_to_access = 0
entire_row = matrix[row_to_access]
print(f"Accessing row at index {row_to_access}: {entire_row}")

# 5. Iterate through the 2-dimensional list using nested loops to print each element.
#    Ensure to print them in a way that visualizes the 2D structure.
print("\nIterating through 2D list (visualizing structure):")
for row in matrix:
    for element in row:
        print(element, end=" ") # Print elements of a row on the same line
    print() # Move to the next line after each row

# 6. Iterate through the 2-dimensional list using nested loops to print each element
#    along with its row and column indices.
print("\nIterating through 2D list with indices:")
for i in range(len(matrix)): # i represents the row index
    for j in range(len(matrix[i])): # j represents the column index
        print(f"Element at ({i}, {j}): {matrix[i][j]}")

--- Demonstrating 2-Dimensional Lists ---

Original 2D List (Matrix): [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Accessing element at row 1, column 2: 6
Accessing row at index 0: [1, 2, 3]

Iterating through 2D list (visualizing structure):
1 2 3
4 5 6
7 8 9

Iterating through 2D list with indices:
Element at (0, 0): 1
Element at (0, 1): 2
Element at (0, 2): 3
Element at (1, 0): 4
Element at (1, 1): 5
Element at (1, 2): 6
Element at (2, 0): 7
Element at (2, 1): 8
Element at (2, 2): 9

In [12]:
# Replace 'pi' with 3.14 ; abcpi - abc3.14

def replacepi(s):
  if len(s) == 0 or len(s) == 1:
    return s

  #smallOutput = replacepi(s[1:])

  if s[0] == "p" and s[1] == '1':
    return "3.14" + replacepi(s[1:])
  else:
    return s[0] + replacepi(s[1:])